@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap')



@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.2');
      margin: theme('spacing.2');
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    }
}

body{
    margin: 0;
    padding: 0;
    background: #fcfcfc;
}

.navigationWrapper{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    background-color: rgba(00,00,00,0.0) !important;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navigationScrollWrapper{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    background-color: #080808 !important;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navigationTitle{
    font-size: 32px;
    font-weight: 600;
    color: #e6ac0e;
    cursor: pointer;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.navigationTitle:hover{
    color: #f8c331;
}

.navigationIcon{
    font-size: 12px;
    font-weight: 600;
    margin: 0px 5px;
    cursor: pointer;
}

.topFixBanner{
    background-image: url('../../public/sources/assets/images/banner/Banner-1.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.topBannerOverlay{
    position:absolute;
    min-height: 700px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
}

.topBannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.topTitle{
    color: #fff;
    margin: 0px 0px 30px 0px;
    font-size: 42px;
    font-weight: 500;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.topSubTitle{
    color: #e6ac0e;
    font-size: 26px;
    font-weight: 800;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.bannerButton{
    float: left;
	min-width: 150px;
	max-width: 150px;
	display: block;
	text-align: center;
    padding: 10px;
	border: 2px solid #fcfcfc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.color-animatedBtn{
    background: linear-gradient(to left, #ffffff00 50%, #e6ac0e 50%) right;
    backdrop-filter: blur(50px);
    background-size: 200% 100%;
    transition: .8s ease-out;
}

.color-animatedBtn:hover{
    background-position: left;
}

.cetagoryWrapper{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    z-index: 2;
}

.cetagoryCardWrapper{
    width: 14rem;
    height: 6rem;
    background: #fff;
    border-radius: 15px;
    margin: 10px;
}

.cetagoryImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.cetagoryCardContent{
    display: flex;
    position: absolute;
    top: 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28 28 28 / 50%);
    height: 6rem;
    width: 14rem;
    cursor: pointer;
    z-index: 3;
}

.cetagoryCardContent h2{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 10px;
}
.cetagoryCardContent span{
    color: #fff;
    font-size: 16px;
    margin: 0px 10px;
}

.productsWrapper{
    background: #fcfcfc;
    padding: 50px 20px;
    text-align: center;
}

.productsWrapper h2{
    margin: 0px;
}

.productListWrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.productCardWrapper{
    width: 16rem;
    height: 25rem;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.productCardWrapper:hover{
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
}

.productImage{
    object-fit: cover;
    width: 100%;
    height: 250px !important;
    border-radius: 20px;
}

.productCardContent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.productCardContent h2{
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.productCardContent h5{
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}


.productCardWrapper a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    background: #020202;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.productCardWrapper a:hover{
    background: #2b2b2b;
}

.slideup-85{
    animation: slideup-85 0.85s cubic-bezier(0.65, 0, 0.35, 1) both
}

.mobileBannerWrapper{
    background-image: url('../../public/sources/assets/images/banner/Banner-2.jpg');
    height: 400px;
    margin: 10px 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

@keyframes slideup-85{
    0%{
        transform: translateY(60px)
    }
    100%{
        transform: translateY(0)
    }
  }

.slideup-95{
    animation: slideup-95 0.95s cubic-bezier(0.65, 0, 0.35, 1) both
}

@keyframes slideup-95{
    0%{
        transform: translateY(60px)
    }
    100%{
        transform: translateY(0)
    }
  }

.slideup-75{
    animation: slideup-75 0.75s cubic-bezier(0.65, 0, 0.35, 1) both
}

@keyframes slideup-75{
  0%{
      transform: translateY(60px)
  }
  100%{
      transform: translateY(0)
  }
}


/****************** toast CSS ******************/
.toast-message {
    font-size: 14px;
    width: 34vw;
    margin-top: 60px;
    padding: 30px 20px;
}


/****************** No Scroll bar ******************/
.hiddenScrollbar::-webkit-scrollbar {
    display: none;
}

.hiddenScrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 1024px) {
    
    .navigationWrapper{
        padding: 10px 100px;
    }
    
    .navigationScrollWrapper{
        padding: 10px 100px;
    }

    .cetagoryWrapper{
        margin-top: -50px;
    }
    .cetagoryCardWrapper{
        width: 7rem;
        height: 4rem;
    }
    .cetagoryCardContent{
        width: 7rem;
        height: 4rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cetagoryCardContent h2{
        font-size: 14px;
        margin: 0px 5px;
        text-align: center;
    }

    .productCardWrapper{
        width: 18rem;
    }
}

@media only screen and (max-width: 600px) {
    .navigationWrapper{
        padding: 20px;
    }
    
    .navigationScrollWrapper{
        padding: 20px;
    }

    .topTitle{
        text-align: center;
    }

    .cetagoryWrapper{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .cetagoryCardWrapper{
        width: 4rem;
        height: 6rem;
        margin: 10px 5px;
    }
    .cetagoryCardContent{
        width: 4rem;
        height: 6rem;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cetagoryCardContent h2{
        font-size: 12px;
        margin: 0px 2px;
        text-align: center;
    }
    .cetagoryCardContent span{
        font-size: 11px;
    }
}

@media only screen and (max-width: 390px) {
    .productCardWrapper{
        width: 10rem;
        height: 14rem;
        margin: 5px;
        padding: 10px;
    }
    
    .productImage{
        width: 100%;
        height: 120px !important;
    }
    
    .productCardContent{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 20px;
    }
    
    .productCardContent h2{
        margin: 0px 8px;
        font-size: 12px;
    }
    
    .productCardContent h5{
        margin: 0px 5px;
        font-size: 10px;
    }
    
    
    .productCardWrapper a{
        font-size: 10px;
        margin: 8px;
        padding: 5px;
        border-radius: 20px;
    }
}